<ion-view title="{{demandTitle}}" hide-back-button="false" id="page-newDemand">
    <ion-content id="new-demand" padding="true" class="has-header demand-form">
        <div class="form-70">
            <div>
                <div class="row" style="display:flex">
                    <button ng-click="selectpending()" class="button button-img" style="margin:auto">
                        <img src="img/bandera_es.png" class="img-button-on"/>
                    </button>
                </div>
                <p class="row" style="text-align: center;color: white;margin-top: 5px;font-weight: 500;">Su consulta ha sido enviada al transportista.  en breve recibirás tu respuesta</p>
            </div>
            <div style="margin-top: 10px;">
                <div class="row" style="display:flex">
                    <button ng-click="selectpending()" class="button button-img" style="margin:auto">
                        <img src="img/bandera_en.png" class="img-button-on"/>
                    </button>
                </div>
                <p style="text-align: center;color: white;margin-top: 5px;font-weight: 500;">Your inquiry has been sent to the carrier.  You will receive your answer shortly</p>
            </div>
            <div style="margin-top: 10px;">
                <div class="row" style="display:flex">
                    <button ng-click="selectpending()" class="button button-img" style="margin:auto">
                        <img src="img/bandera_de.png" class="img-button-on"/>
                    </button>
                </div>
                <p style="text-align: center;color: white;margin-top: 5px;font-weight: 500;">Ihre Anfrage wurde an den Spediteur gesendet.  Sie erhalten Ihre Antwort in Kürze</p>                
            </div>
            <div style="margin-top: 10px;">
                <div class="row" style="display:flex">
                    <button ng-click="selectpending()" class="button button-img" style="margin:auto">
                        <img src="img/bandera_fr.png" class="img-button-on"/>
                    </button>
                </div>
                <p style="text-align: center;color: white;margin-top: 5px;font-weight: 500;">Votre demande a été envoyée au transporteur.  Vous recevrez votre réponse sous peu</p>                
            </div>
            <div style="margin-top: 10px;">
                <div class="row" style="display:flex">
                    <button ng-click="selectpending()" class="button button-img" style="margin:auto">
                        <img src="img/bandera_nl.png" class="img-button-on"/>
                    </button>
                </div>
                <p style="text-align: center;color: white;margin-top: 5px;font-weight: 500;">Uw aanvraag is verzonden naar de vervoerder.   U ontvangt binnenkort uw antwoord</p>
            </div>
            <div style="margin-top: 10px;">
                <div class="row" style="display:flex">
                    <button ng-click="selectpending()" class="button button-img" style="margin:auto">
                        <img src="img/bandera_it.png" class="img-button-on"/>
                    </button>
                </div>
                <p style="text-align: center;color: white;margin-top: 5px;font-weight: 500;">La tua richiesta è stata inviata al corriere.  Riceverai la tua risposta a breve</p>
            </div>
        </div>
    </ion-content>
</ion-view>
