<ion-view title="{{title}}" hide-back-button="false" id="help-section">
    <ion-content padding="true" class="has-header">
        <div ng-if="banner != null">
            <div ng-click="openBanner()" class="banner-block">
                <img ng-src="{{banner.image}}" class="banner-img">
            </div>
        </div>
    	<ul class="help-section-list">
    	    <li ng-repeat="page in pages" ui-sref="veryHorse.staticPage({name: page.name})">
                {{page.title}}
			</li>
            <li ui-sref="veryHorse.presentacion">{{'PRESENTACION' | translate}}</li>
            <li ng-click="appVersion()">{{'APP_VERSION' | translate}}</li>
    	</ul>
    </ion-content>
</ion-view>