<ion-view title="{{title}}" hide-back-button="false" id="page-newDemand">
    <ion-content padding="false" class="has-header">
        <div ng-if="banner != null">
            <div ng-click="openBanner()" class="banner-block">
                <img ng-src="{{banner.image}}" class="banner-img">
            </div>
        </div>
    	<ul class="list">
    		<li class="item center" ng-show="valoraciones.length == 0">{{'NO_VALOR' | translate}}</li>
    	    <li ui-sref="veryHorse.valoracionItem({id:v.$id})" class="item" ng-repeat="v in valoraciones">{{v.transName}} - {{v.demandName}}</li>
    	</ul>
    </ion-content>
</ion-view>