@mixin border-radius($radius) {
  -webkit-border-radius: $radius;
     -moz-border-radius: $radius;
      -ms-border-radius: $radius;
          border-radius: $radius;
}

@mixin transition($time...) {
  -webkit-transition: $time;
     -moz-transition: $time;
      -ms-transition: $time;
          transition: $time;
}

@mixin animate($animate){
  -webkit-animation: $animate;
     -moz-animation: $animate;
      -ms-animation: $animate;
          animation: $animate;
}

@mixin transform($transform){
  -webkit-transform: $transform;
     -moz-transform: $transform;
      -ms-transform: $transform;
          transform: $transform;
}

@mixin opacity($opacity){
  -webkit-opacity: $opacity;
     -moz-opacity: $opacity;
      -ms-opacity: $opacity;
          opacity: $opacity;
           filter: alpha(opacity=$opacity*100);
}

@mixin min-width($min-width){
  -webkit-min-width: $min-width;
     -moz-min-width: $min-width;
      -ms-min-width: $min-width;
          min-width: $min-width;
}

@mixin flex-container(){
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  justify-content: space-around;
}

