#register {
	
	.form-70{
		margin-top:25%;

		.buttons{
			text-align: center;

			button{
				display: inline-block;
				margin-bottom:40px;
				min-width: 120px;
				min-height: 120px;
			}
		}
	}
}

#registerUser{
	.register-form {
		button{
			margin-top:20px;
		}
	}
}