/* COLORS */
$green_bg      : #b6a740;
$green_dark    : #777b0a;
$green_header  : #8b7f25;
$green_button  : #8b7f25;
$green_title   : #605e00;
$green_menu_bg : #e3dfb9;
$green_menu_ac : #c6c585;
$green_whity   : #e4dfb9;

 
$white         : #ffffff;
$white_light   : #d6ce94;
 
$black_text	   : #656565;
$black_text_dk : #2c2c08;
 
$orange_button : #dd691b;
$orange_button2: #1bdd6f;
$orange_dark   : #ce5c10;
$orange_error  : #fb0603;


/* FONT SIZES */
$title_size      : 1.2rem;
$desc_size_big   : 18px;
$line_size_big   : 20px;
$desc_size       : 16px;
$desc_small_size : 15px;
$button_text	 : 14px;